<div class="flex flex-col flex-auto min-w-0">
  <div class="flex flex-col w-full max-w-screen-xl mx-auto p-6 md:p-8">
      <div class="py-4 text-2xl font-bold m-auto">Các Dự Án</div>

      <div class="grid grid-cols-3 gap-10 mt-3"> 
  <div class="flex items-center">
     <div class="flex flex-col items-center justify-center rounded-lg cursor-pointer border-2 border-gray-300 border-dashed hover:bg-hover transition-colors duration-150 ease-in-out" (click)="CreateDuan()">
        <mat-icon
            class="icon-size-12 text-hint"
            [svgIcon]="'heroicons_outline:plus'"></mat-icon>
            
    </div>
      <div class="min-w-0 ml-4">
        <div class="font-medium leading-5 truncate">Thêm Dự Án Mới</div>
      </div>
    </div>
        <div *ngFor="let item of Duans"
          class="flex items-center"
          [routerLink]="['./',item.id]">
          <div class="flex flex-0 items-center justify-center w-20 h-20 overflow-hidden border-dashed border-2"><img
              class="object-cover w-full h-full ng-star-inserted"
              src="assets/images/logo/logo300.png">
          </div>
          <div class="min-w-0 ml-4">
            <div class="font-medium leading-5 truncate mb-3">{{item.Tieude}}</div>
            <div class="leading-5 truncate text-secondary line-clamp-1" [innerHTML]="item.Mota"></div>
          </div>
        </div>
      </div>
  </div>

</div>