<div class="w-full flex p-8">

    <div class="w-1/2">
        <form [formGroup]="MenuForm">
            <div class="flex flex-col mt-4 pt-6">
                <ng-container>
                    <div class="columns-1 space-y-3">
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                            <span matPrefix>
                                Tiêu Đề Menu
                            </span>
                            <input [formControlName]="'title'" matInput class="mat-select-value-text">
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                            <span matPrefix>
                                ID
                            </span>
                            <input [formControlName]="'id'" matInput class="mat-select-value-text"
                                placeholder="wellcome.cauhoi">
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                            <mat-select placeholder="Type" [formControlName]="'type'">
                                <mat-option [value]="'aside'">Aside</mat-option>
                                <mat-option [value]="'basic'">Basic</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                            <span matPrefix>
                                Icon
                            </span>
                            <input [formControlName]="'icon'" matInput class="mat-select-value-text"
                                placeholder="heroicons_outline:clipboard-check">
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                            <span matPrefix>
                                Link
                            </span>
                            <input [formControlName]="'link'" matInput class="mat-select-value-text"
                                placeholder="/wellcome/cauhoi">
                        </mat-form-field>
                        <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full">
                            <mat-select placeholder="Parent" [formControlName]="'parent'">
                                <mat-option [value]="">Root</mat-option>
                                <mat-option [value]="item.uuid" *ngFor="let item of menus"><span class="mx-3"
                                        *ngFor="let x of [].constructor(item.level)">-</span> {{item.title}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </ng-container>
            </div>
            <div class="flex items-center py-4">
                <button class="ml-auto" mat-flat-button (click)="CancelMenu()">
                    Hủy
                </button>
                <button class="ml-2" mat-flat-button [color]="'primary'"
                    [disabled]="MenuForm.invalid || MenuForm.disabled" (click)="CreateMenu()" *ngIf="CRUD==0">
                    Tạo Mới
                </button>
                <button class="ml-2" mat-flat-button [color]="'primary'"
                    [disabled]="MenuForm.invalid || MenuForm.disabled" (click)="UpdateMenu()" *ngIf="CRUD!=0">
                    Cập Nhật
                </button>
            </div>
        </form>
    </div>

    <div class="w-1/2 p-8">
        <div class="flex justify-between">
            <span class="text-center text-2xl">Danh Mục</span>
            <!-- <button mat-button> 
                <span class="material-icons" (click)="UpdateUserMenu()">
                    sync
                </span></button> -->

        </div>


        <div class="mt-4 overflow-y-auto h-96">
            <div *ngFor="let item of menus" class="p-3 flex space-x-2" [ngClass]="{'text-blue-700': item.link!=''}">
                <div  (click)="EditMenu(item)">
                    <span class="mx-2" *ngFor="let x of [].constructor(item.level)">-</span>
                  </div>
              <div>
                <mat-slide-toggle #toggleElement class="example-margin" [checked]="item.status"
                    (change)="Changetatus(item,$event)">
                </mat-slide-toggle>
                
                  {{item.title}}
                </div>
            </div>
        </div>
    </div>

</div>