<div class="flex flex-col flex-auto min-w-0 light">
  <div class="flex flex-wrap w-full mx-auto p-2">
    <div class="grid grid-cols-1 md:grid-cols-2 hover:grid-cols-6 gap-4 w-full">
      <fuse-card class="flex flex-row space-x-4 w-full p-4 text-center bg-card col-span-2">
       <div class="my-auto" (click)="MenuToggle()">
        <span class="material-icons">
          dashboard
          </span>
       </div>
       <div class="flex flex-row overflow-auto space-x-4">
        <div class="m-auto">Hôm Nay : {{homnay|date:'dd/MM/yyyy'}}</div>
        <div class="text-xl m-auto">{{CUser.name}}</div>          
          <mat-button-toggle-group>
            <mat-button-toggle value="bold"><span class="text-xl text-blue-500 font-bold">{{Duans.length}}</span> Dự Án</mat-button-toggle>
            <mat-button-toggle value="italic"><span class="text-xl text-blue-500 font-bold">{{Hoanthanh.length}}</span> Hoàn Thành</mat-button-toggle>
          </mat-button-toggle-group>
       </div>

      </fuse-card>

      <fuse-card class="flex flex-col w-full p-4 col-span-2 md:col-span-1">
        <div class="flex justify-between">
        <div class="py-2 text-center flex flex-auto items-center">
          <div class="mx-4 flex-0 w-16 h-16 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="assets/images/logo/logo300.png">
          </div>
          <div class="text-lg leading-4 font-bold">Công Việc Ưu Tiên</div>
        </div>
        <button mat-button class="bg-blue-100" [routerLink]="['./dauviec']">Tất Cả</button>
      </div>
      <div class="py-2">
          <mat-tab-group>
            <mat-tab label="Đang làm ({{Danglam.length}})"> 
               <mat-list>
                <mat-list-item *ngFor="let item of Tasks|Filter:'Trangthai':'':1" class="border-b-2 flex space-x-2"> 
                  <span class="material-icons text-xl mr-2 text-yellow-500">
                    check_circle_outline
                    </span>  {{item.Tieude}} 
                </mat-list-item>
                <div class="flex mt-2 space-x-2" *ngIf="Danglam.length>3">    
                  <span [routerLink]="['./dauviec']">Xem Thêm</span>
                 <span class="material-icons">
                  read_more
                  </span></div>
               </mat-list>
              </mat-tab>
            <mat-tab label="Quá Hạn (0)"> 
            </mat-tab>
            <mat-tab label="Hoàn Thành ({{Hoanthanh.length}})">          
             <mat-list>
              <mat-list-item *ngFor="let item of (Tasks|Filter:'Trangthai':'':2).slice(0,5)" class="border-b-2 flex space-x-2"> 
                <span class="material-icons text-xl mr- text-green-500">
                  check_circle
                  </span>  {{item.Tieude}} 
              </mat-list-item>
              <div class="flex mt-2 space-x-2" *ngIf="Hoanthanh.length>3">
                 <span [routerLink]="['./dauviec']">Xem Thêm</span>
                <span class="material-icons">
                 read_more
                 </span></div>

             </mat-list></mat-tab>
          </mat-tab-group>
        </div>
      </fuse-card>
      <fuse-card class="flex flex-col w-full p-4 col-span-2 md:col-span-1">
        <div class="flex flex-row justify-between space-x-2"> 
          <div class="flex space-x-2">
            <span  class="text-xl font-bold py-4"> Dự Án </span>  
            <div class="my-auto flex flex-0 items-center justify-center w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent bg-gray-200 text-gray-500">
              <div class="text-md font-semibold">
                {{Duans.length}}
              </div>
          </div>
          </div>
         <div class="mr-auto"> <button mat-button class="bg-blue-100" [routerLink]="['../duan']">Tất Cả</button></div>
        </div>
        <div class="grid grid-cols-2 gap-4 py-2">
        <div class="flex flex-row gap-2 cursor-pointer" *ngFor="let item of Duans.slice(0, 12)" [routerLink]="['../duan',item.id]">
            <img class="w-20 h-20 object-cover" src="assets/images/logo/logo300.png">
          <div class="text-lg leading-4 font-bold my-auto truncate">{{item.Tieude}}</div> 
        </div>
        </div>
      </fuse-card>
      <fuse-card class="flex flex-col w-full p-4 col-span-2">
        <div class="py-2 flex flex-row space-x-4">
          <div class="text-xl font-bold my-auto"> Người Tham Gia</div>
          <div class="text-xl font-bold my-auto">    
            <button mat-button [matMenuTriggerFor]="menu">{{typethamgia[0]}}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of typethamgia|keyvalue" [value]="item.key">{{item.value}}</button>
            </mat-menu>     
        </div>
        </div>
        <div class="grid grid-cols-4 gap-4 py-2">
        <div class="flex flex-row"  *ngFor="let item of [].constructor(1)">
            <div class="mx-4 flex w-10 text-center rounded h-10 border-dotted border overflow-hidden">
              <img class="w-full h-full object-cover" src="assets/images/logo/logo300.png">
            </div>
            <div class="text-lg leading-4 font-bold">Công Việc Ưu Tiên</div> 
        </div>
        </div>
      </fuse-card>
    </div>

  </div>

</div>