<div class="flex flex-col flex-auto min-w-0">
  <div class="flex flex-wrap w-full mx-auto p-2">
    <div class="flex flex-col w-full p-4 text-center">
      <div class="py-2">Hôm Nay : {{homnay|date:'dd/MM/yyyy'}}</div>
      <div class="text-xl py-2">{{CUser.name}}</div>
      <div class="py-2">
        <mat-button-toggle-group>
          <mat-button-toggle value="bold"><span class="text-xl text-blue-500 font-bold">{{Duans.length}}</span> Dự Án</mat-button-toggle>
          <mat-button-toggle value="italic"><span class="text-xl text-blue-500 font-bold">{{Hoanthanh.length}}</span> Đầu Việc Hoàn Thành</mat-button-toggle>
          <mat-button-toggle value="underline">0 Người Tham Gia</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

    </div>
    <div class="grid md:grid-cols-2 gap-4 w-full">
      <fuse-card class="flex flex-col w-full p-4">
        <div class="flex justify-between">
        <div class="py-2 text-center flex flex-auto items-center">
          <div class="mx-4 flex-0 w-16 h-16 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="assets/images/logo/logo300.png">
          </div>
          <div class="text-lg leading-4 font-bold">Công Việc Ưu Tiên</div>
        </div>
        <button mat-button class="bg-blue-100" [routerLink]="['./dauviec']">Tất Cả</button>
      </div>
      <div class="py-2">
          <mat-tab-group>
            <mat-tab label="Đang làm ({{Danglam.length}})"> 
               <mat-list>
                <mat-list-item *ngFor="let item of Tasks|Filter:'Trangthai':'':1" class="border-b-2 flex space-x-2"> 
                  <span class="material-icons text-xl mr-2 text-yellow-500">
                    check_circle_outline
                    </span>  {{item.Tieude}} 
                </mat-list-item>
                <div class="flex mt-2 space-x-2" *ngIf="Danglam.length>3">    
                  <span [routerLink]="['./dauviec']">Xem Thêm</span>
                 <span class="material-icons">
                  read_more
                  </span></div>
               </mat-list>
              </mat-tab>
            <mat-tab label="Quá Hạn (0)"> 
            </mat-tab>
            <mat-tab label="Hoàn Thành ({{Hoanthanh.length}})">          
             <mat-list>
              <mat-list-item *ngFor="let item of (Tasks|Filter:'Trangthai':'':2).slice(0,5)" class="border-b-2 flex space-x-2"> 
                <span class="material-icons text-xl mr- text-green-500">
                  check_circle
                  </span>  {{item.Tieude}} 
              </mat-list-item>
              <div class="flex mt-2 space-x-2" *ngIf="Hoanthanh.length>3">
                 <span [routerLink]="['./dauviec']">Xem Thêm</span>
                <span class="material-icons">
                 read_more
                 </span></div>

             </mat-list></mat-tab>
          </mat-tab-group>
        </div>
      </fuse-card>
      <fuse-card class="flex flex-col w-full p-4">
        <div class="flex justify-between"> 
          <span  class="text-xl font-bold py-4"> Dự Án</span>  
          <button mat-button class="bg-blue-100" [routerLink]="['./duan']">Tất Cả</button>
        </div>
        <div class="grid grid-cols-2 gap-4 py-2">
        <div class="flex flex-row gap-2 cursor-pointer" *ngFor="let item of Duans.slice(0, 12)" [routerLink]="['./duan',item.id]">
            <img class="w-20 h-20 object-cover" src="assets/images/logo/logo300.png">
          <div class="text-lg leading-4 font-bold my-auto truncate">{{item.Tieude}}</div> 
        </div>
        </div>
      </fuse-card>
      <fuse-card class="flex flex-col w-full p-4 col-span-2">
        <div class="py-2 flex flex-row space-x-4">
          <div class="text-xl font-bold my-auto"> Người Tham Gia</div>
          <div class="text-xl font-bold my-auto">    
            <button mat-button [matMenuTriggerFor]="menu">{{typethamgia[0]}}</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of typethamgia|keyvalue" [value]="item.key">{{item.value}}</button>
            </mat-menu>     
        </div>
        </div>
        <div class="grid grid-cols-4 gap-4 py-2">
        <div class="flex flex-row"  *ngFor="let item of [].constructor(1)">
            <div class="mx-4 flex w-10 text-center rounded h-10 border-dotted border overflow-hidden">
              <img class="w-full h-full object-cover" src="assets/images/logo/logo300.png">
            </div>
            <div class="text-lg leading-4 font-bold">Công Việc Ưu Tiên</div> 
        </div>
        </div>
      </fuse-card>


    </div>

  </div>

</div>