<div class="flex flex-col flex-auto w-full">
<div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-4 border-b dark:bg-transparent bg-card">
  <div class="ml-4 flex-1 min-w-0">
      <h2 class="text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
        Công Việc Của Tôi
      </h2>
  </div>
  <div class="flex flex-row space-x-4">
    <mat-button-toggle-group>
      <mat-button-toggle value="item.id" *ngFor="let item of listview" (click)="chosenView(item.id)">
        <span class="material-icons text-blue-500">
          {{item.value}}
          </span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
<div class="flex flex-col flex-auto">
  <app-board class="absolute inset-0 top-22 flex flex-col min-w-0 overflow-hidden" *ngIf="view==1"></app-board>
   <app-list *ngIf="view==2"></app-list>
   <app-timeline *ngIf="view==3"></app-timeline>
</div>
</div>