<div class="flex flex-col flex-auto min-w-0">
  <div class="flex flex-col max-w-screen-xl w-full mx-auto p-6">
      <div class="text-2xl font-bold text-center">Công Việc Của Tôi</div>
    <mat-tab-group>
      <mat-tab label="Đầu Việc">
        <div class="flex flex-col w-full">
          <div class="py-2 flex">
            <mat-button-toggle (click)="createSection()"><span class="material-icons">add_circle</span>Thêm Section</mat-button-toggle>
              <mat-button-toggle class="ml-auto">{{Sections.length}} Sections</mat-button-toggle>
          </div>
          <div>
            <mat-accordion multi>
              <mat-expansion-panel *ngFor="let item of Sections" class="py-3" [expanded]="item.IsOpen">
                <mat-expansion-panel-header>
                  <mat-panel-title (keydown)="$event.stopPropagation()" class="p-2 border-2 border-dashed">
                    <input class="w-full" matInput [value]="item.Tieude" (click)="$event.stopPropagation()"
                      (change)="EditSection($event,item)">
                  </mat-panel-title>
                  <mat-panel-description class="justify-end" (click)="toggleSection(item)">
                    <mat-button-toggle-group multiple (click)="$event.stopPropagation()" class="space-x-1">
                       <mat-button-toggle>
                        <div class="text-red-500 flex space-x-2">
                          <span class="material-icons m-auto">
                            notifications
                            </span>
                           <span class="m-auto">{{(item.id|DemSo:Tasks:'sid':'Trangthai':0).length}} </span>
                        </div>
                        </mat-button-toggle>

                       <mat-button-toggle>
                        <div class="text-yellow-500 flex space-x-2">
                          <span class="material-icons m-auto">
                            hourglass_full
                           </span> 
                           <span class="m-auto">{{(item.id|DemSo:Tasks:'sid':'Trangthai':1).length}} </span>
                        </div>
                        </mat-button-toggle>   

                      <mat-button-toggle>
                        <div class="text-blue-500 flex space-x-2">
                          <span class="material-icons m-auto">
                            check_circle
                           </span> 
                           <span class="m-auto">{{(item.id|DemSo:Tasks:'sid':'Trangthai':2).length}} </span>
                        </div>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                    <button mat-icon-button (click)="DeleteSection(item)">
                      <span class="material-icons">
                        delete
                      </span>
                    </button>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <table mat-table [dataSource]="GetdataSource(item)" class="mat-elevation-z8 w-full">
                  <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let row; let i =index">
                      <button mat-mini-fab [matMenuTriggerFor]="menu" class="text-white"
                        [ngClass]="{'bg-red-500': row.Trangthai==0,'bg-yellow-500': row.Trangthai==1,'bg-blue-500': row.Trangthai==2}">{{i+1}}</button>
                      <mat-menu #menu="matMenu">
                        <button class="text-red-500" mat-menu-item (click)="ChangeStatusTasks(row,0)"> 
                        <span class="material-icons my-auto">
                          notifications
                          </span>Chưa làm</button>
                        <button class="text-yellow-500" mat-menu-item (click)="ChangeStatusTasks(row,1)">
                          <span class="material-icons my-auto">
                            hourglass_full
                           </span> 
                          Đang làm</button>
                        <button class="text-blue-500" mat-menu-item (click)="ChangeStatusTasks(row,2)">
                          <span class="material-icons my-auto">
                            delete
                          </span>
                          Hoàn Thành</button>
                      </mat-menu>
                    </td>
                    <td mat-header-cell *matFooterCellDef colspan="4">
                      <mat-button-toggle mat-button (click)="CreateTaks(item.id)"
                        class="m-3 border-blue-500 border-2 border-dashed">
                        <span class="material-icons">
                          add_circle
                        </span>Thêm Đầu Việc</mat-button-toggle>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="tieude">
                    <th mat-header-cell *matHeaderCellDef> Tiêu Đề </th>
                    <td mat-cell *matCellDef="let row">
                      <input class="w-full" matInput [value]="row.Tieude" (change)="EditTasks($event,row)">
                    </td>
                    <td mat-header-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="uutien">
                    <th mat-header-cell *matHeaderCellDef> Ưu Tiên </th>
                    <td mat-cell *matCellDef="let row"> 
                      <button mat-button [matMenuTriggerFor]="menu">{{row.Uutien|findbyid:Uutiens:'value'}}</button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let item of Uutiens" (click)="UpdateUutien(row,item.id)">{{item.value}}</button>
                      </mat-menu>                   
                  </td>
                    <td mat-header-cell *matFooterCellDef></td>
                  </ng-container>
                  <ng-container matColumnDef="deadline">
                    <th mat-header-cell *matHeaderCellDef> Deadline </th>
                    <td mat-cell *matCellDef="let row" class="flex"> 
                      <!-- <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker"
                               (dateInput)="UpdateDeadline('input', $event)" (dateChange)="UpdateDeadline('change', $event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field> -->

                      <span class="my-auto">
                        {{row.Deadline|date:'dd/MM/yyyy'}}  
                        {{selected|date:'dd/MM/yyyy'}}
                      </span>
                      <button mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
                        calendar_month
                        </span></button>
                      <mat-menu #menu="matMenu">
                          <mat-calendar (selectedChange)="UpdateDeadline(row,$event)"></mat-calendar>
                      </mat-menu>
                  
                  </td>
                    <td mat-header-cell *matFooterCellDef></td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Dashboard"> Dashboard</mat-tab>
    </mat-tab-group>
  </div>

</div>