<div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-start py-8 px-6 md:px-8 border-b">
  <div class="flex justify-start my-4">
    <button mat-raised-button color="primary" (click)="LoadMember()" class="mr-2">Load Thành Viên</button>
  </div>
  <form class="flex space-x-2 my-2" [formGroup]="Filtermember">
    <mat-form-field>
      <input matInput [formControlName]="'TenKH'" placeholder="Tên Khách Hàng">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'SDT'" placeholder="SDT">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'Doanhso'" placeholder="Đã Thu">
    </mat-form-field>

    <mat-form-field>
      <input matInput [formControlName]="'Hanmuctu'" placeholder="Từ">
    </mat-form-field>

    <mat-form-field>
      <input matInput [formControlName]="'Hanmucden'" placeholder="Đến">
    </mat-form-field>

    <mat-form-field>
      <mat-select matInput (selectionChange)="ChonMember($event)" placeholder="Hạng Thành Viên">
        <mat-option value="0">All</mat-option>
        <mat-option value="1">Normal</mat-option>
        <mat-option value="2">Member</mat-option>
        <mat-option value="3">Silver</mat-option>
        <mat-option value="4">Gold</mat-option>
        <mat-option value="5">Platinum</mat-option>
        <mat-option value="6">Diamond</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControlName]="'Chinhanh'" matInput placeholder="Chi Nhánh">
        <mat-option value="">All</mat-option>
        <mat-option value="Đà Nẵng">Đà Nẵng</mat-option>
        <mat-option value="Gò Vấp">Gò Vấp</mat-option>
        <mat-option value="Thủ Đức" for>Thủ Đức</mat-option>
        <mat-option value="Quận 10" for>Quận 10</mat-option>
        <mat-option value="Nha Trang" for>Nha Trang</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="mat-elevation-z8">
    <table class="w-full" mat-table [dataSource]="datamember" #MemberSort="matSort" matSort>
      <ng-container matColumnDef="TenKH">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Khách Hàng </th>
        <td mat-cell *matCellDef="let row" (click)="SelectMember(row)"> {{row.TenKH}} </td>
      </ng-container>
   
      <ng-container matColumnDef="SDT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại  </th>
        <td mat-cell *matCellDef="let row"> {{row.SDT}} </td>
      </ng-container>
 
      <ng-container matColumnDef="Dathu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Đã Thu </th>
        <td mat-cell *matCellDef="let row"> {{row.Dathu| currency: "VND"}} </td>
      </ng-container>

      <ng-container matColumnDef="Chinhanh">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Chi Nhánh </th>
        <td mat-cell *matCellDef="let row"> {{row.Chinhanh}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="thanhvienColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: thanhvienColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100,500]" #MemberPag="matPaginator"></mat-paginator>
  </div>
  




  <!-- <div class="flex justify-start my-4">
    <button mat-raised-button color="primary" (click)="LoadAll()" class="mr-2">Load All</button>
    <button mat-raised-button color="primary" (click)="LoadMore(0,1000)" class="mr-2">Load More 
      (<span *ngIf="data$ | async as Data">{{Data.length}}/{{count}}</span>)
    </button>
    <button mat-raised-button color="primary" (click)="LoadDrive()" class="mr-2">Load Drive</button>

    <button mat-raised-button color="primary" (click)="CreateData(Khachhang)" *ngIf="Khachhang$ | async as Khachhang">Cập Nhật 
      (<span>{{Khachhang.length}}</span>)</button>
  </div> -->
  
  
  <!-- <form class="flex space-x-2" [formGroup]="FilterForm">
    <mat-form-field>
      <input matInput 
        [matDatepicker]="fromDate" 
        placeholder="Từ Ngày" 
        [formControlName]="'Batdau'">
      <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
      <mat-datepicker #fromDate></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput 
        [matDatepicker]="toDate" 
        placeholder="Đến Ngày" 
        [formControlName]="'Ketthuc'">
      <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
      <mat-datepicker #toDate></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput [formControlName]="'TenKH'" placeholder="Tên Khách Hàng">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'SDT'" placeholder="SDT">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'SDT2'" placeholder="SDT 2">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'Dichvu'" placeholder="Dịch Vụ">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'Doanhso'" placeholder="Doanh Số">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'Tonglieutrinh'" placeholder="Tổng Liệu Trình">
    </mat-form-field>
    <mat-form-field>
      <input matInput [formControlName]="'Ghichu'" placeholder="Ghi Chú">
    </mat-form-field> 
    <mat-form-field>
      <mat-select [formControlName]="'Chinhanh'" matInput>
        <mat-option value="Đà Nẵng">Đà Nẵng</mat-option>
        <mat-option value="Gò Vấp">Gò Vấp</mat-option>
        <mat-option value="thuduc" for>Thủ Đức</mat-option>
        <mat-option value="quan10" for>Quận 10</mat-option>
        <mat-option value="nhatrang" for>Nha Trang</mat-option>
      </mat-select>
    </mat-form-field>
  </form> -->
  
    <div class="mat-elevation-z8 mb-8" *ngIf="Showchitiet">
      <table class="w-full" mat-table [dataSource]="data" matSort>
        <ng-container matColumnDef="NgayTaoDV">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày Tạo DV </th>
          <td mat-cell *matCellDef="let row"> {{row.NgayTaoDV|date:'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="TenKH">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên Khách Hàng </th>
          <td mat-cell *matCellDef="let row"> {{row.TenKH}} </td>
        </ng-container>
        <ng-container matColumnDef="SDT">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại  </th>
          <td mat-cell *matCellDef="let row"> {{row.SDT}} </td>
        </ng-container>
        <ng-container matColumnDef="SDT2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Số Điện Thoại 2  </th>
          <td mat-cell *matCellDef="let row"> {{row.SDT2}} </td>
        </ng-container>
        <ng-container matColumnDef="Dichvu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Dịch Vụ </th>
          <td mat-cell *matCellDef="let row"> {{row.Dichvu}} </td>
        </ng-container>
        <ng-container matColumnDef="Doanhso">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Doanh Số </th>
          <td mat-cell *matCellDef="let row"> {{row.Doanhso| currency: "VND"}} </td>
        </ng-container>
        <ng-container matColumnDef="Tonglieutrinh">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tổng Liệu trình </th>
          <td mat-cell *matCellDef="let row"> {{row.Tonglieutrinh| currency: "VND"}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Dathu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Đã Thu </th>
          <td mat-cell *matCellDef="let row"> {{row.Dathu| currency: "VND"}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Chinhanh">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Chi Nhánh </th>
          <td mat-cell *matCellDef="let row"> {{row.Chinhanh}} </td>
        </ng-container>
        <ng-container matColumnDef="Ghichu">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ghi Chú</th>
          <td mat-cell *matCellDef="let row"> {{row.Ghichu}} </td>
        </ng-container>   
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100,500]" aria-label="Select page of users"></mat-paginator>
    </div>

  </div>
  