<button mat-icon-button color="accent" (click)="openPanel()" #notificationsOrigin>
    {{version}}
</button>

<ng-template #notificationsPanel>

    <div
        class="fixed inset-0 sm:static sm:inset-auto flex flex-col sm:min-w-90 sm:w-90 sm:rounded-2xl overflow-hidden shadow-lg">

        <!-- Header -->
        <div class="flex flex-shrink-0 items-center py-4 pr-4 pl-6 bg-primary text-on-primary">
            <div class="sm:hidden -ml-1 mr-3">
                <button mat-icon-button (click)="closePanel()">
                    <mat-icon class="icon-size-5 text-current" [svgIcon]="'heroicons_solid:x'"></mat-icon>
                </button>
            </div>
            <div class="text-lg font-medium leading-10">Bảng Cập Nhật</div>
        </div>

        <div class="relative flex flex-col flex-auto sm:max-h-120 divide-y overflow-y-auto bg-card">
            <div class="flex group hover:bg-gray-50 dark:hover:bg-black dark:hover:bg-opacity-5">

                <div class="flex-auto p-4">
                    <div class="prose prose-sm max-w-5xl">
                        <ng-container>
                            <div class="mb-12 p-4 rounded-2xl shadow bg-card">
                                <div>
                                    <h2 class="my-0">{{version}}</h2>
                                    <div class="font-semibold text-md text-secondary">Feb 21, 2022</div>
                                </div>
                                <hr class="mt-4">
                                <ng-container>
                                    <div class="mt-4">
                                        <span
                                            class="inline-flex bg-default rounded px-3 py-1 text-secondary font-bold">Cập
                                            Nhật</span>
                                        <ul>
                                            <li>Chuyển đổi lịch họp</li>
                                            <li>Chuyển đổi nhân viên</li>
                                            <li>Cập Nhật Noti</li>
                                        </ul>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>


        </div>

    </div>

</ng-template>