<div class="flex flex-col flex-auto min-w-0">
    <div class="flex flex-col w-full max-w-screen-xl mx-auto p-6 md:p-8">
      <div class="flex flex-row space-x-2 py-6 justify-between">
        <div class="flex space-x-2">
          <div class="text-2xl font-bold m-auto">
            <input class="w-full" matInput [value]="Duan.Tieude" (change)="UpdateDuan(Duan,'Tieude',$event.target.value)">
          </div>
          <div class="font-bold">
            <button mat-button [matMenuTriggerFor]="menu">
              <span class="material-icons">
                radio_button_unchecked
              </span>
              {{Duan.Trangthai}}
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
          </div>
          <div class="font-bold m-auto">
            <ng-container *ngIf="Duan.Noibat==0; else elseTemplate">
              <span class="material-icons" (click)="UpdateDuan(Duan,'Noibat',true)">star_border</span>
            </ng-container>
            <ng-template #elseTemplate>
              <span class="material-icons text-yellow-500" (click)="UpdateDuan(Duan,'Noibat',false)">star</span>
            </ng-template>
          </div>
        </div>
        <div class="flex">
          <ng-container>
            <div class="flex items-center">
              <ng-container *ngFor="let member of [].constructor(5);">
                <img
                  class="flex-0 w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent object-cover"
                  [src]="'assets/images/avatars/male-02.jpg'" alt="Member avatar">
              </ng-container>
              <!-- <ng-container *ngIf="board.members.length > 5">
                          <div class="flex flex-0 items-center justify-center w-8 h-8 rounded-full ring ring-offset-1 ring-bg-card ring-offset-transparent bg-gray-200 text-gray-500">
                              <div class="text-md font-semibold">
                                  +{{ board.members.slice(5).length }}
                              </div>
                          </div>
                      </ng-container> -->
            </div>
          </ng-container>
        </div>
      </div>
      <mat-tab-group>
        <mat-tab label="Tổng Quan">
          <div class="my-4">
          <div class="text-2xl font-bold">Mô Tả Dự Án</div>
          <ckeditor [editor]="Editor" [config]="{placeholder:'Mô Tả Dự Án'}" [data]="Duan.Mota"  (change)="UpdateEditorDuan(Duan,'Mota',$event)"></ckeditor>
          </div>
          <mat-divider></mat-divider>
          <div class="my-4">
            <div class="text-2xl font-bold">Thành Viên Dự Án</div>
            <div class="grid grid-cols-3 mt-3">  
              <div class="flex">
                <mat-form-field class="fuse-mat-no-subscript fuse-mat-emphasized-affix w-full m-auto">
                  <mat-icon
                  class="icon-size-5"
                  matPrefix>
                  <span class="material-icons">
                    person_add
                    </span>
                </mat-icon>
                  <mat-select placeholder="Người Tham Gia" (selectionChange)="AddMang(Duan,'Thamgia',$event.value)">
                    <div class="p-3 border-b">
                    <input matInput placeholder="Tìm Kiếm" #searchNhanviens></div>
                    <mat-option *ngFor="let item of Nhanviens|Unique:Duan.Thamgia:'id' | timkiem : searchNhanviens.value:'name'"
                      [value]="item.id">
                      {{item.name}}
                    </mat-option>
                    <mat-option *ngIf="(Nhanviens | timkiem : searchNhanviens.value:'name').length==0">
                      Không Tìm Thấy
                    </mat-option>
                  </mat-select>
                </mat-form-field>      
              </div>
            <div *ngFor="let item of Duan.Thamgia" class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover ng-star-inserted">
                  <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                    <img
                      alt="Contact avatar" class="object-cover w-full h-full ng-star-inserted"
                      src="favicon-32x32.png">
                  </div>
                  <div class="min-w-0 ml-4">
                    <div class="font-medium leading-5 truncate">{{item|findbyid:Nhanviens:'name'}}</div>
                  </div>
                  <div class="text-xs ml-2 my-auto" (click)="RemoveMang(Duan,'Thamgia',item)" *ngIf="Duan.idTao == CUser.id">
                    <span class="material-icons text-red-500">
                      remove_circle
                      </span>
                  </div>
                </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        <div class="my-4">
            <div class="text-2xl font-bold">Tóm Tắt Dự Án</div>
            <ckeditor [editor]="Editor" [config]="{placeholder:'Tóm Tắt Dự Án'}"  [data]="Duan.Tomtat"  (change)="UpdateEditorDuan(Duan,'Tomtat',$event)"></ckeditor>
          </div> 
          <mat-divider></mat-divider>
        <div class="my-4">
            <div class="text-2xl font-bold">Tài Nguyên</div>
            <div class="grid grid-cols-3">
              <div *ngFor="let item of [].constructor(6)" class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer hover:bg-gray-100 dark:hover:bg-hover ng-star-inserted">
                <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden"><img
                    alt="Contact avatar" class="object-cover w-full h-full ng-star-inserted"
                    src="favicon-32x32.png">
                </div>
                <div class="min-w-0 ml-4">
                  <div class="font-medium leading-5 truncate">Alice Harding</div>
                  <div class="leading-5 truncate text-secondary">Track Service Worker</div>
                </div>
              </div>
            </div>
          </div> 
        </mat-tab>
        <mat-tab label="Đầu Việc">
          <div class="flex flex-col w-full">
            <div class="py-2 flex">
              <mat-button-toggle (click)="CreateSection()"><span class="material-icons">add_circle</span>Thêm Section</mat-button-toggle>
                <mat-button-toggle class="ml-auto">{{Sections.length}} Sections</mat-button-toggle>
            </div>
            <div>
              <mat-accordion multi>
                <mat-expansion-panel *ngFor="let item of Sections" class="py-3" [expanded]="item.IsOpen">
                  <mat-expansion-panel-header>
                    <mat-panel-title (keydown)="$event.stopPropagation()" class="p-2 border-2 border-dashed">
                      <input class="w-full" matInput [value]="item.Tieude" (click)="$event.stopPropagation()"
                        (change)="EditSection($event,item)">
                    </mat-panel-title>
                    <mat-panel-description class="justify-end" (click)="toggleSection(item)">
                      <mat-button-toggle-group multiple (click)="$event.stopPropagation()" class="space-x-1">
                         <mat-button-toggle>
                          <div class="text-red-500 flex space-x-2">
                            <span class="material-icons m-auto">
                              notifications
                              </span>
                             <span class="m-auto">{{(item.id|DemSo:Tasks:'sid':'Trangthai':0).length}} </span>
                          </div>
                          </mat-button-toggle>
  
                         <mat-button-toggle>
                          <div class="text-yellow-500 flex space-x-2">
                            <span class="material-icons m-auto">
                              hourglass_full
                             </span> 
                             <span class="m-auto">{{(item.id|DemSo:Tasks:'sid':'Trangthai':1).length}} </span>
                          </div>
                          </mat-button-toggle>   
  
                        <mat-button-toggle>
                          <div class="text-blue-500 flex space-x-2">
                            <span class="material-icons m-auto">
                              check_circle
                             </span> 
                             <span class="m-auto">{{(item.id|DemSo:Tasks:'sid':'Trangthai':2).length}} </span>
                          </div>
                          </mat-button-toggle>
                      </mat-button-toggle-group>
                      <button mat-icon-button (click)="DeleteSection(item)">
                        <span class="material-icons">
                          delete
                        </span>
                      </button>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <table mat-table [dataSource]="GetdataSource(item)" class="mat-elevation-z8 w-full">
                    <ng-container matColumnDef="#">
                      <th mat-header-cell *matHeaderCellDef> # </th>
                      <td mat-cell *matCellDef="let row; let i =index">
                        <button mat-mini-fab [matMenuTriggerFor]="menu" class="text-white"
                          [ngClass]="{'bg-red-500': row.Trangthai==0,'bg-yellow-500': row.Trangthai==1,'bg-blue-500': row.Trangthai==2}">{{i+1}}</button>
                        <mat-menu #menu="matMenu">
                          <button class="text-red-500" mat-menu-item (click)="ChangeStatusTasks(row,0)"> 
                          <span class="material-icons my-auto">
                            notifications
                            </span>Chưa làm</button>
                          <button class="text-yellow-500" mat-menu-item (click)="ChangeStatusTasks(row,1)">
                            <span class="material-icons my-auto">
                              hourglass_full
                             </span> 
                            Đang làm</button>
                          <button class="text-blue-500" mat-menu-item (click)="ChangeStatusTasks(row,2)">
                            <span class="material-icons my-auto">
                              delete
                            </span>
                            Hoàn Thành</button>
                        </mat-menu>
                      </td>
                      <td mat-header-cell *matFooterCellDef colspan="4">
  
                        <mat-button-toggle mat-button (click)="CreateTaks(item.id)"
                          class="m-3 border-blue-500 border-2 border-dashed">
                          <span class="material-icons">
                            add_circle
                          </span>Thêm Đầu Việc</mat-button-toggle>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="tieude">
                      <th mat-header-cell *matHeaderCellDef> Tiêu Đề </th>
                      <td mat-cell *matCellDef="let row">
                        <input class="w-full" matInput [value]="row.Tieude" (change)="EditTasks($event,row)">
                      </td>
                  <td mat-header-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="uutien">
                      <th mat-header-cell *matHeaderCellDef> Ưu Tiên </th>
                      <td mat-cell *matCellDef="let row"> 
                        <button mat-button [matMenuTriggerFor]="menu">{{row.Uutien|findbyid:Uutiens:'value'}}</button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item *ngFor="let item of Uutiens" (click)="UpdateUutien(row,item.id)">{{item.value}}</button>
                        </mat-menu>                   
                    </td>
                      <td mat-header-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="deadline">
                      <th mat-header-cell *matHeaderCellDef> Deadline </th>
                      <td mat-cell *matCellDef="let row" class="flex"> 
                        <!-- <mat-form-field appearance="fill">
                          <input matInput [matDatepicker]="picker"
                                 (dateInput)="UpdateDeadline('input', $event)" (dateChange)="UpdateDeadline('change', $event)">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> -->
  
                        <span class="my-auto">
                          {{row.Deadline|date:'dd/MM/yyyy'}}  
                          {{selected|date:'dd/MM/yyyy'}}
                        </span>
                        <button mat-button [matMenuTriggerFor]="menu"><span class="material-icons">
                          calendar_month
                          </span></button>
                        <mat-menu #menu="matMenu">
                            <mat-calendar (selectedChange)="UpdateDeadline(row,$event)"></mat-calendar>
                        </mat-menu>
                    
                    </td>
                      <td mat-header-cell *matFooterCellDef></td>
                    </ng-container>
                    <ng-container matColumnDef="duan">
                      <th mat-header-cell *matHeaderCellDef> Dự Án </th>
                    <td mat-cell *matCellDef="let row"> 
  
                        <button mat-button [matMenuTriggerFor]="menu">{{row.pjid|findbyid:Duans:'Tieude'}}</button>
                        <mat-menu #menu="matMenu">
                        <ng-container *ngIf="Duans.length!=0; else elseTemplate">
                            <button mat-menu-item *ngFor="let item of Duans" (click)="UpdateUutien(row,item.id)">{{item.Tieude}}</button>
                        </ng-container>
                        <ng-template #elseTemplate>
                            <button mat-menu-item>Chưa Có Dự Án</button>
                        </ng-template>  
                      </mat-menu>                  
                    </td>
                      <td mat-header-cell *matFooterCellDef></td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
  
        </mat-tab>
        <mat-tab label="Dashboard"> Dashboard</mat-tab>
        <mat-tab label="Tin Nhắn"> Tin Nhắn</mat-tab>
      </mat-tab-group>
      <!-- <div class="flex flex-col w-full p-4 text-center">
          <div class="py-2">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="bold">10 Dự Án</mat-button-toggle>
              <mat-button-toggle value="italic">20 Đầu Việc Hoàn Thành</mat-button-toggle>
              <mat-button-toggle value="underline">5 Người Tham Gia</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
    
        </div> -->
      <!-- <div class="grid grid-cols-2 gap-4 w-full">
          <fuse-card class="flex flex-col w-full p-4">
            <div class="flex justify-between">
            <div class="py-2 text-center flex flex-auto items-center">
              <div class="mx-4 flex-0 w-16 h-16 rounded-full overflow-hidden">
                <img class="w-full h-full object-cover" src="favicon-32x32.png">
              </div>
              <div class="text-lg leading-4 font-bold">Công Việc Ưu Tiên</div>
            </div>
            <button mat-button class="bg-blue-100" [routerLink]="['./dauviec']">Tất Cả</button>
          </div>
            <div class="py-2">
              <mat-tab-group>
                <mat-tab label="Đang làm "> Đang làm </mat-tab>
                <mat-tab label="Hoàn Thành"> Hoàn Thành </mat-tab>
                <mat-tab label="Quá Hạn"> Quá Hạn </mat-tab>
              </mat-tab-group>
            </div>
          </fuse-card>
          <fuse-card class="flex flex-col w-full p-4">
            <div class="text-xl font-bold"> Dự Án</div>
            <div class="grid grid-cols-2 gap-4 py-2">
              <div class="flex flex-row gap-2">
              <div class="mx-4 flex w-10 text-center rounded h-10 border-dotted border overflow-hidden" [routerLink]="['./duan']">
                <span class="material-icons m-auto">
                  add
                  </span>
              </div>
              <div class="text-lg leading-4 font-bold">Công Việc Ưu Tiên</div> 
            </div>
            <div class="flex flex-row gap-2">
              <div class="mx-4 flex w-10 text-center rounded h-10 border-dotted border overflow-hidden">
                <img class="w-full h-full object-cover" src="favicon-32x32.png">
              </div>
              <div class="text-lg leading-4 font-bold">Công Việc Ưu Tiên</div> 
            </div>
            </div>
          </fuse-card>
    
        </div> -->
  
    </div>
  
  </div>