<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex flex-col items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="-ml-4 sm:mt-8">
                <a
                    mat-button
                    [routerLink]="['../']"
                    [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                    <span class="ml-2">Trở về</span>
                </a>
            </div>
            <div class="mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight">
                Câu Hỏi Thường Gặp
            </div>
            <mat-form-field class="fuse-mat-no-subscript flex-auto rounded-full my-8">
                <input matInput [placeholder]="'Tìm Kiếm'" [placeholder]="'Tìm Kiếm'" (input)="filterByQuery(query.value)" #query>
                <mat-icon matPrefix>
                  <span class="material-icons">
                    search
                  </span>
                </mat-icon>
              </mat-form-field>
            <ng-container>
                <mat-accordion class="max-w-4xl mt-8">
                    <ng-container *ngFor="let cauhoi of filteredCauhois; trackBy: trackByFn">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header [collapsedHeight]="'56px'">
                                <mat-panel-title class="flex justify-between" *ngIf="cauhoi.Vitri">
                                    <div [innerHTML]="cauhoi.NoidungCauhoi"></div>
                                    <div class="fuse-vertical-navigation-item-badge-content px-3 bg-blue-600 text-white rounded-full">{{Vitri[cauhoi.Vitri]}}</div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div [innerHTML]="cauhoi.NoidungTraloi"></div>
                        </mat-expansion-panel>
                    </ng-container>
                </mat-accordion>
            </ng-container>
        </div>
    </div>

</div>
